*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}
.griot {
    background-color: lightslategray;
    text-align:center;
    flex:50%;
}
.boulet {
    flex:50%;
    text-align:center;
    background-color: lightslategray;
}
.boulet p, .griot p{
    margin-bottom: 15px;
}
.griot img, .boulet img {
    height: 400px;
}
.header-class h1 {
    color: purple;
}
.header-list a {
    text-decoration: none;
    padding:5px 10px;
    color: purple;
    border: 2px solid lightslategray;
    margin-right: 7px;
}
.header-list a:hover {
    background-color:pink;
    color: #FFF;
}
.header-class {
    background:lightgrey;
   /* background-image: url("./Images/header-background.png");*/
    display: flex;
    padding: 35px 35px;
    justify-content: space-between;
}
.header-list {
list-style: none;
display: flex;
padding:5px 10px;
color: purple;
}
.hero-class{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 985px) {
    .hero-class, .header-class {   
      flex-direction: column;
    }
  }
@media screen and (max-width: 685px) {
    .hero-class, .header-class {   
      flex-direction: column;
    }
  }

